
* {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}
body {
  background-color:rgb(22, 22, 22);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('background/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bookmark {
  display: flex;
  justify-self: center;
  align-self: center;
  height: 40px;
  width: 40px;
  padding: 4px;
}
.clock-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
  height: 20px;
  font-size: 28px;
}
.time-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  height: 15px;
  font-size: 18px;
}
.navbar-wrapper {
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  justify-content: center;
  justify-self: center;
  background-color: rgba(110, 110, 110, 0.278);
  backdrop-filter: blur(4px);
  filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.358));
  /* border-color: rgba(255, 255, 255, 0.463);
  border-width: 1px;
  border-style: solid; */
  overflow: hidden;
  position: fixed;
  bottom: 50px;
  width: 475px;
  border-radius: 12px;
}
.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}
.navbar a:hover {
  background-color: rgba(119, 119, 119, 0.278);
  color: white;
}
input {
  height: 28px;
  width: 70%;
  color: white;
  background-color: rgba(83, 83, 83, 0.64);
  border: none;
  border-radius: 5px;
  padding: 8px;
  transition: 0.3s;
}
input:hover {
  background: rgba(53, 53, 53, 0.64);
  transition: 0.3s;
}
button {
  transition: 0.3s;
}
button:hover {
  background: rgba(53, 53, 53, 0.64);
  transition: 0.3s;
}
.bookmark-name {
  margin-top: 4px;
  width: 93%;
}
.bookmark-link {
  margin-top: 4px;
  width: 93%;
}
.bookmark-image {
  margin-top: 4px;
  width: 93%;
}
.searchbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar {
  display: flex;
  justify-content: center;
  color: white;
  width: 98%;
  background-color: rgba(110, 110, 110, 0.278);
  border: none;
  border-radius: 5px;
  padding: 8px;
  bottom: 200px;
  position: absolute;
  width: 480px;
}
